body {
  background-color: #f5bb00 ;
  position: relative;
  height: 100%;
  width: 100%;
}

.logo-img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
}

.title {
  background-color: #013c6c;
  text-align: center;
  color: #f5bb00;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 10px;
  border-radius: 10px;
  font-weight: 900;
  width: 30%;
  margin: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.title-div {
  text-transform: capitalize;
}

.section-2 {
  display: flex;
  justify-content: space-between;
  color: #f5bb00;
  background-color: #013c6c;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.type {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
#amount {
  font-size: 10px;
  font-weight: bold;
  color: black;
  padding: 5px;
}
#date {
  font-size: 10px;
  font-weight: 800;
  color: #f5bb00;
  background-color: #013c6c;
  padding: 5px;
}
#search {
  font-size: 10px;
  font-weight: 800;
  color: black;
  padding: 5px;
}
#type-section {
  font-size: 10px;
  font-weight: 800;
  color: #f5bb00;
  padding: 5px;
  background-color: #013c6c;
}
.section-3 {
  display: flex;
  justify-content: space-around;
}
.total-transactions-div {
  color: #f5bb00;
  margin-top: 10px;
  font-size: 25px;
}
.total-transactions {
  background-color: #013c6c;
  padding: 10px;
  font-weight: 800;
  border-radius: 20px;
}
#total-transactions {
  text-align: center;
  font-size: 30px;
}
.section-4 {
  margin-top: 10px;
}
.total-coming {
  color: #f5bb00;
  font-size: 25px;
  background-color: #013c6c;
  padding: 30px;
  font-weight: 800;
  border-radius: 20px;
}
#total-coming {
  margin-top: 10px;
  text-align: center;
  font-size: 30px;
  padding-top: 5px;
}
.graphs {
  margin-top: 30px;
}
.bar-graph {
  display: flex;
  justify-content: space-around;
  padding: 1px;

  margin-top: 7px;

  font-size: 15px;
}
.pie-chart {
  padding: 60px;
  width: 10%;
  margin-top: 7px;
  text-align: center;
  font-size: 15px;
}

.bar-section {
  background-color: white;
  padding: 5px;
  font-weight: 600;
}
.pie-section {
  background-color: white;
  padding: 20px;
  font-weight: 600;
}
.pie-chart-graph {
  width: 100%;
  height: 100%;
}
.table-id {
  /* background-color: blue; */
  margin-top: 7px;
  text-align: center;
  padding: 60px;
  font-size: 20px;
}
.table-id-div {
  background-color: white;
  padding: 30px;
  font-weight: 600;
  border-collapse: collapse;
}

.table-item {
  border: 2px solid black;
  border-radius: 50px;
  text-align: center;
  position: relative;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.table-id {
  height: 350px;
  overflow: auto;
}

.table-body {
  background-color: white;
  padding: 20px;
  font-weight: 600;
  position: relative;
}

.pie-chart-graph {
  width: 100%;
  height: 100%;
}

.bar-chart-graph {
  background-color: white;
  min-width: 600px;
  height: 400px;
}

.message-display {
  display: none;
  top: 100;
  left: 0;
  width: 50%;
  z-index: 100;
}

.table-item:hover .message-display {
  display: inline;
  position: absolute;
  background-color: blue;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  word-wrap: break-word;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.hover-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: white;
  display: none;
  justify-items: center;
  align-items: center;
}
.hover-loading p {
  font-size: 20px;
  font-weight: 800;
  color: black;
  margin: auto;
}